@import 'bootstrap';
@import 'bootstrap-responsive';

$navbarBackgroundHighlight: white;
$navbarBackground: white;
$navbarHeight: 50px;

body {
	padding-top: 80px;
}

.footer {
	margin-top: 100px;
	color: $grayLight;
	a {
		color: $gray;
	}
}